body{
    margin: 0;
    padding: 0;
}

.menu {
    color: white;
    background-color: black;
    font-weight: bold;    
}

.menu ul {    
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.menu li {   
    margin: auto;
    text-align: center;
    height: 20px;
    padding: 20px;
}

.menu a {    
    color: white;
    text-decoration: none;
}

.menu a :hover {
    color: green;
}

.menu a :active {
    text-decoration-color: green;
}

.main_footer{
    color: white;
    background-color: black;
    height: 20px;
    text-align: center;
    margin: auto;
    padding: 20px;
}